.form-search-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
}

.form-align {
    text-align: right;
}

.form-align .form-group {
    margin-bottom: 10px;
}

.form-search {
    margin-left: 15px;
}

.form-list {
    margin-top: 15px;
}

.form-search input {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    width: 300px;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px;
    text-align: center;
    border-radius: 0;
    height: auto;
    display: inline-block;
    margin-right: 30px;
}

.form-search button {
    background-color: #D8D8D8;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px 20px;
    border-radius: 0;
    color: #8D8D8D;
}

.form-list {
    font-size: 14px;
    color: #8D8D8D;
    display: inline-block;
    text-align: right;
}

.form-list input {
    max-width: 110px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    color: #000000;
    font-family: 'Avenir-Light';
    padding: 2px 3px 2px 20px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
}

.form-list label {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

.total-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.card {
    flex: 1;
}

.card-mid {
    margin-right: 60px;
    margin-left: 60px;
}

.card-head {
    padding: 12px 20px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Avenir-Heavy';
}

.card-head p {
    margin-bottom: 0;
}

.card-head p.sub {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Avenir-Light';
    padding-top: 10px;
    color: #8D8D8D;
}

.card-body {
    padding: 5px 20px 12px;
    font-family: 'Avenir-Medium';
}

.value-p {
    color: #4A90E2;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.value-p1 {
    color: #4A90E2;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 65px;
    text-align: center;
    margin-top: 100px;
}

.value-p1 span {
    color: #8D8D8D;
    font-size: 18px;
    display: block;
    padding-top: 5px;
}

.value-b {
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Light';
    text-align: center;
    margin-bottom: 25px;
}

.value-b span {
    color: #4A90E2;
}

select#city-report {
    font-family: 'Avenir-Medium';
    font-size: 14px;
    border: 0;
    padding: 0;
    float: left;
}

select#live-orders {
    color: #4A90E2;
    font-family: 'Avenir-Medium';
    border: 0;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    max-width: 205px;
    margin-left: -5px;
}

.date-p {
    color: #8D8D8D;
    font-size: 12px;
    font-family: 'Avenir-Light';
    text-align: right;
}

.card-body1 h4 {
    color: #000000;
    font-family: 'Avenir-Medium';
    background-color: #F5F5F5;
    font-size: 14px;
    padding: 6px 25px;
    margin: 0;
}

.item-table {
    padding: 5px 17px;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Avenir-Medium';
}

.item-table table {
    margin-bottom: 10px;
    max-width: 250px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: 0;
    vertical-align: middle;
    line-height: 16px;
}

.table>tbody>tr>td span {
    font-family: 'Avenir-Light';
}

@media screen and (min-width:992px) and (max-width:1160px){
    .card-mid {
        margin-right: 20px;
        margin-left: 20px;
      }
      select#live-orders{
          width: 100%;
      }
}

@media screen and (max-width:991px) {
    .form-list,
    .form-align {
        text-align: left;
    }
    .total-flex {
        display: block;
    }
    .card-mid {
        margin: 30px 0;
    }
    .value-p1 {
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .value-b {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:992px) and (max-width:1300px) {
    .card-head p.head {
        min-height: 36px;
    }
}

@media screen and (min-width:992px) and (max-width:1097px) {
    .card-head p.sub {
        min-height: 36px;
    }
}

@media screen and (max-width:767px) {
    .form-list label {
        padding-left: 0;
        padding-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
        min-width: 90px;
    }
    .form-list .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    .form-search input {
        margin-right: 10px;
        width: 185px;
    }
    .total-flex {
        display: block;
    }
    .card-mid {
        margin: 30px 0;
    }
}