section.loginpage {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: rgb(0, 0, 0);
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	font-family: 'Avenir-Heavy';
	margin: 0;
}

.login-container {
	width: 420px;
	margin: 0 auto;
}

.login-head img {
	max-width: 92px;
	margin-top: -40px;
}

.login-head h2 {
	display: inline-block;
	font-size: 50px;
	color: #F26C25;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 15px;
}

.login-head {
	text-align: center;
	vertical-align: top;
	padding-bottom: 50px;
}

.login-form label {
	font-family: 'Avenir-Book';
	font-size: 15px;
	color: #CFCFCF;
	padding-bottom: 20px;
}

.login-form input.form-control {
	background: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: none;
	outline: none;
	color: #CFCFCF;
	font-family: 'Avenir-Book';
	padding: 5px;
}

.login-form .form-group {
	margin-bottom: 50px;
}

.forgot-form label {
	font-family: 'Avenir-Book';
	font-size: 15px;
	color: #CFCFCF;
	padding-bottom: 25px;
}

.forgot-form input.form-control {
	background: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: none;
	outline: none;
	color: #CFCFCF;
	font-family: 'Avenir-Book';
	padding: 5px;
}

.forgot-form .form-group {
	margin-bottom: 100px;
	padding-top: 50px;
}

.forgot-pass {
	font-size: 14px;
	color: #CFCFCF;
	font-family: 'Avenir-Book';
	padding-top: 15px;
}

.btn {
	background-color: #F78130;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 27px;
	padding: 15px 20px;
	font-family: 'Avenir-Heavy';
	width: 100%;
}

.form-submit {
	margin-bottom: 0 !important;
	margin-top: 80px;
}

@media screen and (max-width:480px) {
	.login-container {
		width: 300px;
	}
	.login-head h2 {
		font-size: 35px;
	}
}