.search-head {
    text-align: center;
}

.view-orders .search-head {
    text-align: right;
}

.search-head input {
    width: 60%;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    color: #8D8D8D;
    font-size: 13px;
    font-family: 'Avenir-Medium';
    padding: 12px 15px;
    text-align: center;
    outline: none;
    margin-right: 30px;
    margin-bottom: 10px;
}

.search-head .btn {
    background-color: #D8D8D8;
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    border-radius: 0;
    padding: 11px 20px;
}

.card-head {
    padding: 25px 30px 40px 60px;
}

.card-body {
    padding-bottom: 30px;
}

.card-head h3 {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
    margin: 0;
    display: inline-block;
}

.card-head p {
    color: #8D8D8D;
    font-family: 'Avenir-Light';
    font-size: 12px;
    margin: 0;
}

.card-head form {
    float: right;
}

.card-head label {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Light';
    padding-right: 10px;
}

.card-head select {
    border: 1px solid #979797;
    color: #000000;
    font-size: 12px;
    font-family: 'Avenir-Light';
    padding: 0px 8px;
    min-width: 90px;
}

.table>thead>tr>th {
    color: #8D8D8D;
    font-family: 'Avenir-Light';
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
}

.table>tbody>tr>td {
    color: #000;
    font-family: 'Avenir-Light';
    font-size: 14px;
    vertical-align: middle;
    padding: 15px 10px;
    border: 0;
}

.table>tbody>tr:first-child {
    border-top: 1px solid #D8D8D8;
}

.table-all-stores .table>thead>tr>th:first-child,
.table-all-stores .table>tbody>tr>td:first-child {
    padding-left: 100px;
}

.table-all-stores .table>thead>tr>th:last-child,
.table-all-stores .table>tbody>tr>td:last-child {
    padding-right: 50px;
}

.mo-head h2 {
    margin-top: 0;
    color: #000000;
    font-family: 'Avenir-Medium';
    font-size: 32px;
}

.card-live-head {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    line-height: 19px;
    padding: 8px 120px;
    background-color: #F5F5F5;
}

.card-live-body .table {
    margin-bottom: 0;
}

.card-live-body .table>tbody>tr:first-child {
    border: 0;
}

.card-live-body .table>tbody>tr:first-child>td {
    padding-top: 25px;
}

.card-live-body .table>tbody>tr:last-child>td {
    padding-bottom: 25px;
}

.card-live-body .table>tbody>tr>td:first-child {
    padding-left: 120px;
    width: 60%;
}

.card-live-body .table>tbody>tr>td>span {
    font-family: 'Avenir-Medium';
}
.table-hover tbody tr{
    -webkit-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    -ms-transition: all 50ms ease-in;
    -o-transition: all 50ms ease-in; 
    transition: all 50ms ease-in;
}
.table-hover tbody tr:hover {
    border: 1px solid #4A90E2 !important;
    background: #fff !important;
}

.card-head-past {
    padding: 30px 65px;
    border-bottom: 1px solid #D8D8D8;
}

.card-head-past h3 {
    color: #000000;
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    margin: 0;
}

.card-past-body .table {
    margin-bottom: 0;
}

.card-past-body .table>tbody>tr:first-child {
    border: 0;
}

.card-past-body .table>tbody>tr:first-child>td {
    padding-top: 25px;
}

.card-past-body .table>tbody>tr:last-child>td {
    padding-bottom: 25px;
}

.card-past-body .table>tbody>tr>td:first-child {
    padding-left: 120px;
    width: 45%;
}

.card-past-body .table>tbody>tr>td>span {
    font-family: 'Avenir-Medium';
}

.mo-head h2.mo-head2 {
    font-size: 30px;
    margin-top: 20px;
}

.mo-head h2.mo-head2 a {
    font-size: 14px;
    font-family: 'Avenir-Medium';
    white-space: nowrap;
}

.card-head-receipt {
    background: linear-gradient(180deg, #D9258D 0%, #B11054 100%);
    padding: 10px;
    text-align: center;
}

.card-head-receipt img {
    width: 90px;
    height: auto;
}

.card-body-receipt {
    padding: 55px 50px 95px 100px;
}

.card-body-receipt h4 {
    font-family: 'Avenir-Medium';
    font-size: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.card-body-receipt p {
    font-family: 'Avenir-Light';
    font-size: 14px;
    color: #000000;
    text-align: right;
    margin-top: 8px;
}

.table-receipt .table>thead>tr>th {
    padding-bottom: 10px;
    padding-top: 30px;
    border-bottom: 3px solid #F5F5F5 !important;
    border-top: 3px solid #F5F5F5 !important;
}

.table-receipt .table>tbody>tr>td {
    font-family: 'Avenir-Medium';
}

.table-receipt .table>tbody>tr>td span {
    font-family: 'Avenir-Light';
}

.table-receipt .table>tbody>tr:last-child>td {
    border-bottom: 3px solid #F5F5F5 !important;
}

.table-receipt2>tbody>tr:first-child {
    border-top: 0px solid #D8D8D8;
}

.table-receipt2>tbody>tr>td {
    font-family: 'Avenir-Medium';
    border: 0;
    padding: 10px;
}

.btn-print {
    display: block;
    margin: 0 auto;
    font-family: 'Avenir-Light';
    font-size: 14px;
    color: #FFFFFF;
    background-color: #B11054;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 100px;
    padding: 9px;
    margin-top: 100px;
}

.card-1 {
    padding: 20px 25px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.card-1 img {
    width: 65px;
    height: auto;
    margin-left: 30px;
    margin-right: 50px;
}

.product-info-1 {
    flex: 1;
}

.product-info-1 div {
    display: inline-block;
    width: 49%;
}

.product-info-1 div:nth-child(2n) {
    padding-left: 70px;
    vertical-align: top;
}

.product-info-1 p {
    color: #000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-info-1 span.offer-main {
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Light';
    display: inline-block;
    width: 115px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.product-info-1 span.offer-date {
    display: inline-block;
    color: #000000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    padding-right: 0;
    width: auto;
}

span.offer-date-p {
    display: inline-block;
    width: 50px;
    font-family: 'Avenir-Light';
    font-size: 13px;
}

span.offer-date-p2 {
    display: inline-block;
    width: 35px;
    font-family: 'Avenir-Light';
}

.t-right {
    text-align: right;
}

.offer-select select {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    padding: 1px 7px;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    min-width: 90px;
}

@media screen and (min-width:1255px) {
    .hidden-above-1120 {
        display: none;
    }
    .table-receipt .table>thead>tr>th:last-child {
        width: 30%;
    }
}

@media screen and (min-width:395px) and (max-width:1083px) {
    .hidden-above-1120 {
        display: none;
    }
}

@media screen and (min-width:1025px) and (max-width:1100px) {
    .product-info div:nth-child(2n),
    .product-info-1 div:nth-child(2n) {
        padding-left: 50px;
    }
}

@media screen and (min-width:768px) and (max-width:1083px) {
    .product-info,
    .product-info-1 {
        text-align: left;
    }
    .product-info div,
    .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info div:nth-child(2n),
    .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
}

@media screen and (min-width:1440px) {
    .card-1 img {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:810px) {
    .card-1 {
        display: block;
    }
    .card-1 img {
        margin-left: 120px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .product-info-1 {
        margin-top: 20px;
        text-align: left;
    }
    .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
}

@media screen and (min-width:1350px) {
    .mo-head h2 {
        font-size: 36px;
    }
    .mo-head h2.mo-head2 {
        font-size: 34px;
    }
}

@media screen and (min-width:768px) {
    .table-responsive.table-all-stores {
        overflow-x: unset;
    }
}

@media screen and (max-width:991px) {
    .view-orders .search-head {
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-head {
        padding: 25px 40px;
    }
    .table-all-stores .table>thead>tr>th:first-child,
    .table-all-stores .table>tbody>tr>td:first-child {
        padding-left: 50px;
    }
    .table-all-stores .table>thead>tr>th:last-child,
    .table-all-stores .table>tbody>tr>td:last-child {
        padding-right: 25px;
    }
    .card-live-head {
        padding: 8px 50px;
    }
    .card-head-past {
        padding: 20px 50px;
    }
    .card-live-body .table>tbody>tr>td:first-child {
        padding-left: 50px;
    }
    .card-past-body .table>tbody>tr>td:first-child {
        padding-left: 50px;
    }
    .card-body-receipt {
        padding: 40px;
    }
    .btn-print {
        margin-top: 60px;
    }
}

@media screen and (max-width:767px) {
    .search-head input {
        margin-right: 15px;
        width: 50%;
    }
    .card-head {
        padding: 20px;
    }
    .card-head form {
        float: none;
        margin-top: 10px;
    }
    .table-all-stores .table>thead>tr>th:first-child,
    .table-all-stores .table>tbody>tr>td:first-child {
        padding-left: 25px;
    }
    .table-all-stores .table>thead>tr>th:last-child,
    .table-all-stores .table>tbody>tr>td:last-child {
        padding-right: 10px;
    }
    .table-responsive {
        border: 0;
    }
    .mo-head h2 {
        font-size: 23px;
    }
    .card-live-head {
        padding: 8px 20px;
    }
    .card-head-past {
        padding: 20px;
    }
    .card-live-body .table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .card-past-body .table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .card-body-receipt {
        padding: 20px 20px 40px;
    }
    .card-body-receipt p {
        text-align: left;
    }
    .table-receipt2 {
        margin-left: auto;
    }
    .btn-print {
        margin-top: 30px;
    }
    .table-receipt2 {
        max-width: 250px;
    }
    .mar-top-30 {
        margin-top: 30px !important;
    }
}


/****** 12-2-2018 piyush *******/

.form-search-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
}

.form-align {
    text-align: right;
}

.form-align .form-group {
    margin-bottom: 10px;
}

.form-search {
    margin-left: 15px;
}

.form-list {
    margin-top: 15px;
}

.form-search input {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    width: 300px;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px;
    text-align: center;
    border-radius: 0;
    height: auto;
    display: inline-block;
    margin-right: 30px;
}

.form-search button {
    background-color: #D8D8D8;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px 20px;
    border-radius: 0;
    color: #8D8D8D;
}

.form-list {
    font-size: 14px;
    color: #8D8D8D;
    display: inline-block;
    text-align: right;
}

.form-list input {
    max-width: 110px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    color: #000000;
    font-family: 'Avenir-Light';
    padding: 2px 3px 2px 20px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
}

.form-list label {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

.total-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

@media screen and (max-width:991px) {
    .form-list,
    .form-align {
        text-align: left;
    }
    .total-flex {
        display: block;
    }
    .card-mid {
        margin: 30px 0;
    }
    .value-p1 {
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .value-b {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:767px) {
    .form-list label {
        padding-left: 0;
        padding-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
        min-width: 90px;
    }
    .form-list .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    .form-search input {
        margin-right: 10px;
        width: 185px;
    }
    .total-flex {
        display: block;
    }
    .card-mid {
        margin: 30px 0;
    }
}

.card-head-receipt2 {
    background: #f5f5f5;
}

.btn-clr2 {
    background-color: #f78130;
}

@media screen and (max-width:539px){
    .search-head input,
    .search-head .btn{
        width: 100%;
    }
}

@media screen and (max-width:1200px) and (min-width:992px){
    .search-head input[placeholder]{
        font-size: 10px;
    }
}


/* Print Dialog Css*/
@media print {
    div.card {
        border: 1px solid #f5f5f5 !important;
    }
    div.card-head-receipt2 {
        background-color: #f5f5f5 !important;
        -webkit-print-color-adjust: exact;
    }
    .receipt {
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}