section.order-alert1 {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #9D2480;
	z-index: -10;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	text-align: center;
	margin: 0;
}

.alert-content {
	width: 100%;
	padding: 15px;
}

.alert-content h4 a {
	position: absolute;
	font-size: 72px;
	color: #fff;
	font-family: 'Avenir-Medium';
	top: 30px;
	right: 55px;
}

.alert-content h2 {
	font-size: 72px;
	color: #fff;
	font-family: 'Avenir-Heavy';
	margin: 10px 0 5px;
}

.alert-content h3 {
	font-size: 36px;
	color: #fff;
	font-family: 'Avenir-Medium';
	margin: 0;
}

.alert-content h5 {
	font-size: 48px;
	color: #fff;
	font-family: 'Avenir-Book';
	margin-bottom: 25px;
}

.alert-content p {
	font-size: 24px;
	line-height: 1.4;
	color: #fff;
	font-family: 'Avenir-Light';
	margin-top: 20px;
	margin-bottom: 60px;
}

.order-alert-btn {
	color: #B11054 !important;
	width: auto;
	font-family: 'Avenir-Medium';
	font-size: 36px;
	background-color: #F5F5F5;
	padding: 23px 95px;
	border-radius: 0;
	margin: 0 18px 0 0;
	width: 300px;
}

.order-alert-btn1 {
	color: #B11054 !important;
	width: auto;
	font-family: 'Avenir-Medium';
	font-size: 36px;
	background-color: #F5F5F5;
	padding: 23px 95px;
	border-radius: 0;
	width: 300px;
	margin: 0 0 0 18px;
}

@media screen and (max-width:685px) {
	.alert-content h4 a {
		font-size: 36px;
		right: 40px;
	}
	.alert-content h2 {
		font-size: 30px;
	}
	.alert-content h3 {
		font-size: 25px;
	}
	.alert-content h5 {
		font-size: 25px;
	}
	.alert-content p {
		font-size: 18px;
		margin-bottom: 50px;
	}
	.order-alert-btn {
		font-size: 18px;
		padding: 12px 45px;
		margin: 0 10px 0 0;
		width: 130px;
	}
	.order-alert-btn1 {
		font-size: 18px;
		padding: 12px 45px;
		margin: 0 0 0 10px;
		width: 130px;
	}
}