.card-head {
    padding: 35px 35px 20px 55px;
}

.card-head h3 {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
    display: inline-block;
    margin: 0;
}

.card-head form {
    float: right;
}

.card-head label {
    font-size: 14px;
    font-family: 'Avenir-Light';
    color: #000000;
    padding-right: 10px;
}

.card-head select {
    border-radius: 5px;
    border: 0.5px solid #D8D8D8;
    color: #3B7ADB;
    font-size: 12px;
    font-family: 'Avenir-Light';
    padding: 3px 10px;
    min-width: 110px;
}

.card-head select option:nth-child(2) {
    color: red;
}

.table>thead>tr>th {
    color: #7A7A7A;
    font-size: 14px;
    font-family: 'Avenir-Light';
    font-weight: 300;
    border: 0;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.table>tbody>tr>td {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    border: 0;
    /*    vertical-align: middle;*/
    padding: 15px 10px;
}

.table>tbody>tr>td span {
    color: #7A7A7A;
    font-family: 'Avenir-Light';
    width: 45px;
    display: inline-block;
}

.table-live-promo table>tbody>tr>td {
    width: 20%;
    white-space: normal;
}

.table-live-promo table>thead>tr>th:first-child,
.table-live-promo table>tbody>tr>td:first-child {
    padding-left: 55px;
}

.table-live-promo table>thead>tr>th:last-child,
.table-live-promo table>tbody>tr>td:last-child {
    padding-right: 40px;
}

.card-body1 {
    padding: 10px 0 0;
}

.st-head h2 {
    font-size: 32px;
    font-family: 'Avenir-Medium';
    margin-top: 7px;
}

.card-head-add {
    padding: 24px 40px;
    border-bottom: 1px solid #D8D8D8;
}

.card-head-add a {
    color: #000000;
}

.card-head-add h3 {
    color: #000000;
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    margin: 0;
}

.card-body-add {
    padding: 40px 40px 45px;
}

.add-promo label {
    color: #7A7A7A;
    font-family: 'Avenir-Medium';
    font-size: 14px;
}

.add-promo .form-control {
    border: 1px solid #D8D8D8;
    box-shadow: none;
    width: 60%;
}

.add-promo .form-inline label {
    font-family: 'Avenir-Light';
    width: 37px;
}

.add-promo .form-inline input {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 110px;
    margin-right: 10px;
    font-size: 14px;
    padding: 1px 5px 1px 22px;
}

.btn-create {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Avenir-Light';
    min-width: 110px;
    background-color: #B11054;
    display: block;
    margin: 0 auto;
    color: #fff;
    margin-top: 100px;
}

.cal-head {
    position: absolute;
    margin-top: 4px;
    color: #7A7A7A;
    font-size: .75em;
    margin-left: 6px;
}

@media screen and (min-width:1350px) {
    .st-head h2 {
        font-size: 36px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-head {
        padding: 20px 40px;
    }
    .table-live-promo table>thead>tr>th:first-child,
    .table-live-promo table>tbody>tr>td:first-child {
        padding-left: 40px;
    }
    .table-live-promo table>thead>tr>th:last-child,
    .table-live-promo table>tbody>tr>td:last-child {
        padding-right: 10px;
    }
    .card-head-add {
        padding: 20px 40px;
    }
}

@media screen and (max-width:767px) {
    .card-head {
        padding: 20px;
    }
    .card-head form {
        float: none;
        margin-top: 10px;
    }
    .table-live-promo table>thead>tr>th:first-child,
    .table-live-promo table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .table-live-promo table>thead>tr>th:last-child,
    .table-live-promo table>tbody>tr>td:last-child {
        padding-right: 10px;
    }
    .st-head h2 {
        font-size: 23px;
    }
    .card-head-add {
        padding: 20px;
    }
    .card-body-add {
        padding: 20px 20px 25px;
    }
    .add-promo .form-control {
        width: 100%;
    }
    .btn-create {
        margin-top: 40px;
    }
}

/****** 9-2-2018 piyush ****/

.form-list {
    font-size: 14px;
    color: #8D8D8D;
    display: block;
    text-align: right;
}

.form-list input {
    max-width: 110px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    color: #000000;
    font-family: 'Avenir-Light';
    padding: 2px 3px 2px 20px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
}

.form-list label {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

.card-head {
    padding: 35px 35px 25px 55px;
}

.card-head h3 {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Heavy';
    font-weight: 900;
    margin: 0;
    display: inline-block;
}

.card-head form {
    float: right;
    font-family: 'Avenir-Light';
}

.card-head label {
    font-size: 14px;
    color: #000000;
    padding-right: 13px;
}

.dt-setform .cal-head {
    margin-top: 6px;
}

.form-align .form-group {
    margin-bottom: 10px;
}

@media screen and (max-width:767px) {
    .form-list label {
        padding-left: 0;
        padding-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
        min-width: 90px;
    }
    .form-align,
    .form-list {
        text-align: left;
    }
    .form-list .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    .card-head {
        padding: 20px;
    }
    .card-head form {
        float: none;
        margin-top: 10px;
    }
    .dt-setform .cal-head {
        position: absolute;
        margin-top: 28px;
        font-size: .75em;
        margin-left: -83px;
    }
}

/****** 12-2-2018 piyush ****/

.btn-clr2 {
    background-color: #f78130;
}

/***********************
    20 Mar 2018
************************/

.promotion-duration input {
    width: 110px !important;
    height: 25px;
    display: inline-block;
    padding-left: 23px;
}

.promotion-duration .cal-head {
    margin-top: 5px;
    margin-left: 7px;
}

.promotion-duration div {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.edit-submit-btn,
.delete-submit-btn {
    text-align: center;
    padding: 50px 0px 0px 0px;
}

.edit-submit-btn .btn,
.delete-submit-btn .btn {
    font-family: 'Avenir-Light';
    padding: 6px 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
    color: #fff;
    min-width: 110px;
    background-color: #f78130 !important;
    border-color: #f78130 !important;
    margin: 0px 22px;
    max-width: 110px;
    text-align: center;
    outline: none !important;
}

.delete-submit-btn .btn {
    background-color: #D0021B !important;
    border-color: #D0021B !important;
}

.edit-submit-btn .btn-gray,
.delete-submit-btn .btn-gray {
    background-color: #8D8D8D !important;
    border-color: #8D8D8D !important;
}

.modal h3 {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Heavy';
    font-weight: 900;
    margin: 0;
}

.modal-header {
    padding: 26px 42px;
}

.modal-body {
    padding: 34px 40px 65px;
}

.modal .form-group {
    margin-bottom: 22px;
}

.modal .form-group label {
    color: #8D8D8D;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .modal-edit-promotions .modal-dialog,
    .modal-delete-promotions .modal-dialog {
        width: 540px;
    }
}
/* 
.card select#promoList {
    padding: 5px;
    border: none;
}

.card select option {
    padding: 6px ;
    border-bottom: 1px solid #000 !important;
    
} */
.card-body1 .table-responsive{
    overflow-x: visible;
}
.card-body1 .caret{
    width: 0;
    float: right;
    margin-top: 8px;

    border-top: 5px dashed;
    border-top: 5px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;

    -webkit-transition: 300ms all ease-in-out;
    -moz-transition: 300ms all ease-in-out;
    -ms-transition: 300ms all ease-in-out;
    transition: 300ms all ease-in-out;
}
.card-body1 .dropdown a{
    padding: 0 15px;
}
.card-body1 .dropdown.open .caret{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.card-body1 .dropdown-menu{
    padding: 0;
    border: none;
    border-radius: 0px;
}
.card-body1 .dropdown-menu>li>a{
    padding: 7px 15px;
    border-bottom: 1px solid #d8d8d8;
}