.form-search-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
}

.form-align {
    text-align: right;
}

.form-align .form-group {
    margin-bottom: 10px;
}

.form-search {
    margin-left: 15px;
}

.form-list {
    margin-top: 15px;
}

.form-search input {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    width: 300px;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px;
    text-align: center;
    border-radius: 0;
    height: auto;
    display: inline-block;
    margin-right: 30px;
}

.form-search button {
    background-color: #D8D8D8;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 14px 20px;
    border-radius: 0;
    color: #8D8D8D;
}

.form-list {
    font-size: 14px;
    color: #8D8D8D;
    display: inline-block;
    text-align: right;
}

.form-list input {
    max-width: 110px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    color: #000000;
    font-family: 'Avenir-Light';
    padding: 2px 3px 2px 20px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
}

.form-list label {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

.total-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.total-flex .card {
    flex: 1;
    margin-right: 60px;
    padding: 35px 10px;
    text-align: center;
}

.total-flex .card:last-child {
    margin-right: 0;
}

.head-p {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
}

.value-p {
    color: #4A90E2;
    font-family: 'Avenir-Medium';
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 0;
}

.total-p {
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Avenir-Light';
    margin-bottom: 0;
}

.card-head {
    padding: 20px 40px 20px 60px;
}

.card-head h3 {
    display: inline-block;
    font-size: 14px;
    font-family: 'Avenir-Heavy';
    color: #000000;
    margin: 0;
}

.card-body {
    margin-top: 15px;
}

.form-store select {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 2px 7px;
    height: auto;
    margin-right: 20px;
}

.table-store thead tr th {
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'Avenir-Light';
    font-weight: 300;
    border: 0;
}

.table-hover tbody tr{
    -webkit-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    -ms-transition: all 50ms ease-in;
    -o-transition: all 50ms ease-in; 
    transition: all 50ms ease-in;
}

.table-store tbody tr:first-child {
    border-top: 1px solid #D8D8D8;
}

.table-store tbody tr td {
    border: 0;
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.table-store tbody tr td span {
    color: #8D8D8D;
    font-family: 'Avenir-Light';
    width: 45px;
    display: inline-block;
}

.table-store tbody tr td:first-child,
.table-store thead tr th:first-child {
    padding-left: 60px;
}

.table-store tbody tr td:nth-of-type(5) {
    color: #D0021B;
}

.table-store>tbody>tr:hover {
    background-color: #fff;
    border: 1px solid #4A90E2;
}

.st-head h2 {
    font-size: 32px;
    font-family: 'Avenir-Medium';
    margin-top: 7px;
}

.str-table1 table>thead>tr>th {
    border: 0;
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.str-table1 table>tbody>tr>td {
    border: 0;
    color: #000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.str-table1 table>tbody>tr>td span {
    color: #8D8D8D;
    width: 45px;
    display: inline-block;
}

.card-head1 {
    padding: 40px 30px 40px 60px;
}

.card-head1 h3 {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Heavy';
    margin: 0;
    display: inline-block;
}

.card-head1 a {
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.card-body1 {
    padding: 0 30px 20px 60px;
}

.card-body2 {
    padding: 0 30px 20px 60px;
}

.card-body3 {
    padding: 0 30px 0px 60px;
}

.card-body3 table {
    margin-bottom: 0;
}

.past-offers-table table>thead>tr>th {
    color: #8D8D8D;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #D8D8D8;
    vertical-align: middle;
    padding-bottom: 15px;
    white-space: nowrap;
}

.past-offers-table table>tbody>tr>td {
    color: #000;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: 500;
    border: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.past-offers-table table>tbody>tr:first-child>td {
    padding-top: 20px;
}

.past-offers-table table>tbody>tr:last-child>td {
    padding-bottom: 20px;
}

.past-offers-table table>tfoot>tr>td {
    color: #000;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: 500;
    border: 0;
    padding-top: 30px;
    border-top: 1px solid #D8D8D8;
    vertical-align: middle;
}

.past-offers-table table>tbody>tr>td span {
    color: #8D8D8D;
}

.past-offers-table table>tbody>tr>td a {
    display: inline-block;
    padding-left: 15px;
}

.past-offers-table table>tbody>tr>td:first-child,
.past-offers-table table>thead>tr>th:first-child,
.past-offers-table table>tfoot>tr>td:first-child {
    padding-left: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 250px;
}

.past-offers-table table>tbody>tr>td:last-child {
    white-space: nowrap;
}

.str-table1 {
    padding: 0 30px 0px 50px;
}

.past-offers-table,
.str-table1 {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0;
}

.modal.create-invoice .modal-header {
    padding: 25px 40px;
    border-bottom: 1px solid #D8D8D8;
}

.modal.create-invoice .modal-header .modal-title {
    color: #000000;
    font-family: 'Avenir-Heavy';
    font-size: 14px;
}

.modal.create-invoice .modal-body {
    padding: 40px;
}

.create-invoice-form label {
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    display: block;
}

.create-invoice-form .form-control {
    border: 0.5px solid #D8D8D8;
    box-shadow: none;
    outline: 0;
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    display: inline-block;
    width: 65%;
}

.btn-card {
    color: #FFFFFF;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    padding: 6px 20px;
    min-width: 78px;
    height: auto;
    margin-left: 5px;
}

.btn-add {
    color: #FFFFFF !important;
    font-family: 'Avenir-Light';
    font-size: 14px;
    padding: 5px 20px;
    min-width: 110px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #F78130;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.card-head-invoice {
    padding: 25px 20px 20px 50px;
    border-bottom: 1px solid #D8D8D8;
}

.card-head-invoice h3 {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Heavy';
    color: #000000;
    margin: 0;
    display: inline-block;
}

.card-head-invoice form {
    float: right;
}

.card-head-invoice label {
    color: #000000;
    font-family: 'Avenir-Light';
    font-size: 14px;
    padding-right: 15px;
}

.card-head-invoice select {
    border: 1px solid #D8D8D8;
    color: #C6000E;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    border-radius: 5px;
    padding: 1px 10px;
}

.card-body-invoice {
    padding: 40px 100px;
}

.invoice-table table>thead>tr>th {
    border: 0;
    color: #7A7A7A;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    padding: 15px 15px 20px 0;
    font-weight: 500;
    vertical-align: middle;
}

.invoice-table table>tbody>tr>td {
    border: 0;
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    padding: 15px 15px 15px 0;
    vertical-align: middle;
}

.invoice-table select {
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
    color: #000000;
}

@media screen and (min-width:1350px) {
    .st-head h2 {
        font-size: 36px;
    }
}

@media screen and (min-width:768px) {
    .table-responsive {
        overflow-x: visible;
    }
}

@media screen and (min-width:992px) and (max-width:1160px) {
    .total-flex .card {
        margin-right: 20px;
    }
    .value-p {
        font-size: 30px;
    }
    .head-p {
        height: 38px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-list,
    .form-align {
        text-align: left;
    }
    .total-flex {
        flex-flow: row wrap;
    }
    .total-flex .card {
        flex: 1 33%;
        margin-right: 20px;
    }
    .total-flex .card:nth-of-type(2n) {
        margin-right: 0;
    }
    .card-head {
        padding: 20px 40px;
    }
    .table-store tbody tr td:first-child,
    .table-store thead tr th:first-child {
        padding-left: 40px;
    }
    .str-table1 {
        padding: 0 30px 40px;
    }
    .card-head1 {
        padding: 30px 40px;
    }
    .card-body1 {
        padding: 0 40px 30px;
    }
    .card-body2 {
        padding: 0 40px 30px;
    }
    .card-body3 {
        padding: 30px 40px;
    }
    .card-head-invoice {
        padding: 20px 40px;
    }
    .card-body-invoice {
        padding: 20px 50px;
    }
}

@media screen and (max-width:767px) {
    .form-list label {
        padding-left: 0;
        padding-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
        min-width: 90px;
    }
    .form-align,
    .form-list {
        text-align: left;
    }
    .form-list .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    .form-search input {
        margin-right: 10px;
        width: 185px;
    }
    .total-flex {
        display: block;
    }
    .card {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .value-p1 {
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .value-b {
        margin-bottom: 15px;
    }
    .card-head {
        padding: 20px;
    }
    .table-store tbody tr td:first-child,
    .table-store thead tr th:first-child {
        padding-left: 20px;
    }
    .table-store tbody tr td,
    .table-store thead tr th {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-store {
        float: none !important;
        margin-top: 10px;
    }
    .form-store select {
        display: inline-block;
        margin-bottom: 6px;
    }
    .form-store .form-group {
        margin-bottom: 0;
        display: inline-block;
        margin-right: 15px;
    }
    .table-responsive {
        border: 0;
    }
    .st-head h2 {
        font-size: 23px;
    }
    .str-table1 {
        padding: 0;
    }
    .card-head1 {
        padding: 20px;
    }
    .card-body1 {
        padding: 0 20px 30px;
    }
    .card-body2 {
        padding: 0 20px 30px;
    }
    .card-body3 {
        padding: 20px;
    }
    .modal.create-invoice .modal-header {
        padding: 15px 20px;
    }
    .modal.create-invoice .modal-body {
        padding: 20px 20px 30px;
    }
    .create-invoice-form .form-control {
        width: 100%;
    }
    .btn-card {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
    }
    .btn-add {
        margin-top: 30px;
    }
    .card-head-invoice {
        padding: 20px;
    }
    .card-head-invoice form {
        float: none;
        margin-top: 15px;
    }
    .card-head-invoice .form-group {
        margin: 0;
    }
    .card-body-invoice {
        padding: 20px;
    }
}