.se-head h2 {
    margin-top: 0;
    color: #000000;
    font-family: 'Avenir-Medium';
    font-size: 32px;
}

.se-head2 label {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Light';
    padding-right: 15px;
}

.se-head2 select {
    border: 1px solid #979797;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Avenir-Light';
    padding: 1px 10px;
    min-width: 90px;
}

.card-head {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Heavy';
    color: #000000;
    padding: 20px 50px;
    border-bottom: 1px solid #D8D8D8;
}

.table>thead>tr>th {
    color: #7A7A7A;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Light';
    border: 0;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 300;
    padding: 12px 10px;
    white-space: nowrap;
    vertical-align: middle;
}

.table>tbody>tr>td {
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Medium';
    border: 0;
    padding: 18px 10px;
    /*white-space: nowrap;*/
    vertical-align: middle;
    word-wrap: break-word;
}

.table-accounts .table>thead>tr>th:first-child,
.table-accounts .table>tbody>tr>td:first-child {
    padding-left: 40px;
}

.table-accounts {
    padding-top: 30px;
    padding-bottom: 30px;
}

.store-a {
    color: #000 !important;
    display: block;
}

.card-body1 {
    padding: 25px 50px 20px;
}

.form-left .control-label {
    text-align: left;
    color: #7A7A7A;
    font-size: 14px;
    font-family: 'Avenir-Light';
    font-weight: 300;
}

.form-left .form-control {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    box-shadow: none;
}

.btn-save {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    font-family: 'Avenir-Light';
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #B11054;
    border-radius: 15px;
    padding: 9px 15px;
    min-width: 150px;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.reqd-red {
    color: #C30016;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-family: 'Avenir-Light';
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.btn-create {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    font-family: 'Avenir-Light';
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #D8D8D8;
    border-radius: 15px;
    padding: 9px 15px;
    min-width: 150px;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

@media screen and (min-width:1350px) {
    .se-head h2 {
        font-size: 36px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-head {
        padding: 20px 40px;
    }
    .table-accounts .table>thead>tr>th:first-child,
    .table-accounts .table>tbody>tr>td:first-child {
        padding-left: 30px;
    }
    .card-body1 {
        padding: 25px 40px 20px;
    }
}

@media screen and (max-width:767px) {
    .se-head h2 {
        font-size: 23px;
    }
    .card-head {
        padding: 20px;
    }
    .table-accounts .table>thead>tr>th:first-child,
    .table-accounts .table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .card-body1 {
        padding: 20px;
    }
    .form-left .form-control {
        margin-bottom: 6px;
    }
    .se-head2 .form-group{
        margin-bottom: 0;
    }
}

#listingData a{
    cursor: pointer;
}