/************************************************************************************
    Avenir
***********************************************************************************/

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/avenir/Avenir-Medium.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-Medium.ttf') format('opentype'), url('../fonts/avenir/Avenir-Medium.woff') format('opentype'), url('../fonts/avenir/Avenir-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-MediumO';
    src: url('../fonts/avenir/Avenir-MediumOblique.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-MediumOblique.ttf') format('opentype'), url('../fonts/avenir/Avenir-MediumOblique.woff') format('opentype'), url('../fonts/avenir/Avenir-MediumOblique.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/avenir/AvenirLTStd-Book.eot') format('embedded-opentype'), url('../fonts/avenir/AvenirLTStd-Book.ttf') format('opentype'), url('../fonts/avenir/AvenirLTStd-Book.woff') format('opentype'), url('../fonts/avenir/AvenirLTStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/avenir/AvenirLTStd-Roman.eot') format('embedded-opentype'), url('../fonts/avenir/AvenirLTStd-Roman.ttf') format('opentype'), url('../fonts/avenir/AvenirLTStd-Roman.woff') format('opentype'), url('../fonts/avenir/AvenirLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/avenir/Avenir-Heavy.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-Heavy.ttf') format('opentype'), url('../fonts/avenir/Avenir-Heavy.woff') format('opentype'), url('../fonts/avenir/Avenir-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/avenir/Avenir-Light.eot');
    src: url('../fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/Avenir-Light.woff2') format('woff2'), url('../fonts/avenir/Avenir-Light.woff') format('woff'), url('../fonts/avenir/Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*********************************************************
    Preset
**********************************************************/

body {
    font-family: 'Avenir-Book', sans-serif;
    color: #000;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

a {
    color: #4A90E2;
    outline: none !important;
    text-decoration: none;
}

a:hover, a:focus, .active>a {
    color: rgb(66, 129, 201);
    text-decoration: none;
}

strong, b {
    font-weight: bold;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

label {
    font-weight: normal;
}

.v-grid-container {
    display: table;
    width: 100%;
}

.v-grid {
    display: table-cell;
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.close {
    filter: alpha(opacity=70);
    opacity: .7;
}

.close:hover, .close:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}

.separator {
    margin: 0 5px;
}

hr {
    border-color: #cad5da;
}

h3 {
    color: #404040;
}

.push-effects:hover {
    transform: scale(0.9, 1);
    -webkit-transform: scale(0.9, 1);
    -moz-transform: scale(0.9, 1);
    -o-transform: scale(0.9, 1);
    -ms-transform: scale(0.9, 1);
}

.relative {
    position: relative;
}

.max-width-650 {
    max-width: 650px;
    margin: 0 auto;
}

.max-width-750 {
    max-width: 750px;
    margin: 0 auto;
}

.max-width-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

/* Padding Top */

.no-padding {
    padding: 0px !important;
}

.padd-top0 {
    padding-top: 0px !important;
}

.padd-top5 {
    padding-top: 5px !important;
}

.padd-top10 {
    padding-top: 10px !important;
}

.padd-top15 {
    padding-top: 15px !important;
}

.padd-top20 {
    padding-top: 20px !important;
}

.padd-top25 {
    padding-top: 25px !important;
}

.padd-top30 {
    padding-top: 30px !important;
}

.padd-top35 {
    padding-top: 35px !important;
}

.padd-top40 {
    padding-top: 40px !important;
}

.padd-top45 {
    padding-top: 45px !important;
}

.padd-top50 {
    padding-top: 50px !important;
}

.padd-top55 {
    padding-top: 55px !important;
}

.padd-top60 {
    padding-top: 60px !important;
}

.padd-top65 {
    padding-top: 65px !important;
}

.padd-top70 {
    padding-top: 70px !important;
}

.padd-top75 {
    padding-top: 75px !important;
}

.padd-top80 {
    padding-top: 80px !important;
}

.padd-top85 {
    padding-top: 85px !important;
}

.padd-top90 {
    padding-top: 90px !important;
}

.padd-top95 {
    padding-top: 95px !important;
}

.padd-top100 {
    padding-top: 100px !important;
}

/* Padding Bottom */

.padd-bot0 {
    padding-bottom: 0px !important;
}

.padd-bot5 {
    padding-bottom: 5px !important;
}

.padd-bot10 {
    padding-bottom: 10px !important;
}

.padd-bot15 {
    padding-bottom: 15px !important;
}

.padd-bot20 {
    padding-bottom: 20px !important;
}

.padd-bot25 {
    padding-bottom: 25px !important;
}

.padd-bot30 {
    padding-bottom: 30px !important;
}

.padd-bot35 {
    padding-bottom: 35px !important;
}

.padd-bot40 {
    padding-bottom: 40px !important;
}

.padd-bot45 {
    padding-bottom: 45px !important;
}

.padd-bot50 {
    padding-bottom: 50px !important;
}

.padd-bot55 {
    padding-bottom: 55px !important;
}

.padd-bot60 {
    padding-bottom: 60px !important;
}

.padd-bot65 {
    padding-bottom: 65px !important;
}

.padd-bot70 {
    padding-bottom: 70px !important;
}

.padd-bot75 {
    padding-bottom: 75px !important;
}

.padd-bot80 {
    padding-bottom: 80px !important;
}

.padd-bot85 {
    padding-bottom: 85px !important;
}

.padd-bot90 {
    padding-bottom: 90px !important;
}

.padd-bot95 {
    padding-bottom: 95px !important;
}

.padd-bot100 {
    padding-bottom: 100px !important;
}

/* Padding Left */

.padd-left0 {
    padding-left: 0px !important;
}

.padd-left5 {
    padding-left: 5px !important;
}

.padd-left10 {
    padding-left: 10px !important;
}

/* Padding Right */

.padd-right0 {
    padding-right: 0px !important;
}

.padd-right5 {
    padding-right: 5px !important;
}

.padd-right10 {
    padding-right: 10px !important;
}

/* Margin Top */

.no-margin {
    margin: 0px !important;
}

.mar-top0 {
    margin-top: 0px !important;
}

.mar-top5 {
    margin-top: 5px !important;
}

.mar-top10 {
    margin-top: 10px !important;
}

.mar-top15 {
    margin-top: 15px !important;
}

.mar-top20 {
    margin-top: 20px !important;
}

.mar-top25 {
    margin-top: 25px !important;
}

.mar-top30 {
    margin-top: 30px !important;
}

.mar-top35 {
    margin-top: 35px !important;
}

.mar-top40 {
    margin-top: 40px !important;
}

.mar-top45 {
    margin-top: 45px !important;
}

.mar-top50 {
    margin-top: 50px !important;
}

.mar-top55 {
    margin-top: 55px !important;
}

.mar-top60 {
    margin-top: 60px !important;
}

.mar-top65 {
    margin-top: 65px !important;
}

.mar-top70 {
    margin-top: 70px !important;
}

.mar-top75 {
    margin-top: 75px !important;
}

.mar-top80 {
    margin-top: 80px !important;
}

.mar-top85 {
    margin-top: 85px !important;
}

.mar-top90 {
    margin-top: 90px !important;
}

.mar-top95 {
    margin-top: 95px !important;
}

.mar-top100 {
    margin-top: 100px !important;
}

.mar-top150 {
    margin-top: 150px !important;
}

/* Margin Bottom */

.mar-bot0 {
    margin-bottom: 0px !important;
}

.mar-bot5 {
    margin-bottom: 5px !important;
}

.mar-bot10 {
    margin-bottom: 10px !important;
}

.mar-bot15 {
    margin-bottom: 15px !important;
}

.mar-bot20 {
    margin-bottom: 20px !important;
}

.mar-bot25 {
    margin-bottom: 25px !important;
}

.mar-bot30 {
    margin-bottom: 30px !important;
}

.mar-bot35 {
    margin-bottom: 35px !important;
}

.mar-bot40 {
    margin-bottom: 40px !important;
}

.mar-bot45 {
    margin-bottom: 45px !important;
}

.mar-bot50 {
    margin-bottom: 50px !important;
}

.mar-bot55 {
    margin-bottom: 55px !important;
}

.mar-bot60 {
    margin-bottom: 60px !important;
}

.mar-bot65 {
    margin-bottom: 65px !important;
}

.mar-bot70 {
    margin-bottom: 70px !important;
}

.mar-bot75 {
    margin-bottom: 75px !important;
}

.mar-bot80 {
    margin-bottom: 80px !important;
}

.mar-bot85 {
    margin-bottom: 85px !important;
}

.mar-bot90 {
    margin-bottom: 90px !important;
}

.mar-bot95 {
    margin-bottom: 95px !important;
}

.mar-bot100 {
    margin-bottom: 100px !important;
}

.mar-bot150 {
    margin-bottom: 150px !important;
}

/* Margin Left */

.mar-left0 {
    margin-left: 0px !important;
}

.mar-left5 {
    margin-left: 5px !important;
}

.mar-left10 {
    margin-left: 10px !important;
}

/* Margin Right */

.mar-right0 {
    margin-right: 0px !important;
}

.mar-right5 {
    margin-right: 5px !important;
}

.mar-right10 {
    margin-right: 10px !important;
}

/* Bg - Color */

.bg-primary {
    background-color: #9D2480;
}

.bg-gray {
    background-color: #F4F4F4;
}

.bg-white {
    background: #FFFFFF !important;
}

.half-left {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.half-right {
    width: 50%;
    float: left;
    padding-left: 15px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

/* Fixed Select Box Mac Issue */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*::i-block-chrome, select.form-control{text-indent: 13px;line-height: 52px;}    */
    /*::i-block-chrome, select.input-lg{text-indent: 13px;line-height: 62px;}*/
    .mac select.form-control {
        text-indent: 13px;
    }
    .mac select.input-sm {
        text-indent: 13px;
    }
    .mac select.input-lg {
        text-indent: 13px;
    }
}

input:hover, input:focus, select:hover, select:focus, button:hover, button:focus {
    outline: none;
}

.nogutter1 {
    padding-left: 0;
    padding-right: 10px;
}

.nogutter2 {
    padding-left: 10px;
    padding-right: 0;
}

/* Container */

.md-container {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.xs-container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.theme-color {
    color: #9D2480;
}

.c-white {
    color: #FFFFFF !important;
}

.c-gray {
    color: #9B9B9B !important;
}

.c-blue {
    color: #1DA3BF;
}

.c-green {
    color: #4abe3a;
}

.c-red {
    color: #ff2626;
}

.c-black {
    color: #444444;
}

.block {
    display: block;
}

img.block {
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.fontbold {
    font-weight: bold;
}

.fontmedium {
    font-weight: 500;
}

.fontlight {
    font-weight: 300;
}

.textcenter {
    text-align: center;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: transparent;
}

hr {
    border-color: #BBB4A7;
}

/*****************************************
    Header
******************************************/

header {
    margin-left: 215px;
    padding: 50px 90px 40px;
    text-align: right;
    background: #fff;
}

header a {
    color: #000;
    cursor: pointer;
}

header a:hover, header a:focus, header a:active {
    color: #000;
}

header a .bell {
    color: #8D8D8D !important;
}

header .dropdown-menu {
    left: auto;
    right: 0;
}

span.notification {
    background: #F5C56E;
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.sidetoggle {
    display: none;
    float: left;
    cursor: pointer;
}

.closenav {
    display: none;
}

/*****************************************
    Left Menu
******************************************/

aside {
    background-color: #F5F5F5;
    border-right: 1px solid rgba(141, 141, 141, 0.55);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 214px;
    text-align: center;
    font-family: 'Avenir-Medium';
    vertical-align: middle;
}

aside div {
    height: calc(100%);
    overflow-y: auto;
    padding-top: 45px;
}

/* aside div::-webkit-scrollbar {
	width: 3px;
}


aside div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F5F5F5; 
    border-radius: 3px;
}
 

aside div::-webkit-scrollbar-thumb {
    background: #8D8D8D; 
    border-radius: 3px;
}


aside div::-webkit-scrollbar-thumb:hover {
    background: #8D8D8D; 
} */

aside a {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 45px;
    color: #8D8D8D;
    display: block;
    padding: 12px 0 8px;
}

aside a:hover, aside a:focus, aside a:active {
    background-color: #e4e4e4;
    color: #8D8D8D;
}

aside a.active {
    color: #F78130;
}

aside a.active span {
    border-right: 3px solid #F78130;
    padding-left: 3px;
}

aside a span {
    padding-bottom: 15px;
    display: block;
}

aside a span img {
    width: 32px;
    height: 30px;
}

section {
    margin-left: 214px;
    padding: 0 75px 50px;
}

/**********************************
    Datepicker Head
***********************************/

.cal-head {
    position: absolute;
    margin-top: 6px;
    font-size: .75em;
    margin-left: 6px;
}

div#ui-datepicker-div {
    color: #8D8D8D;
    font-size: 12px;
    font-family: 'Avenir-Light';
    width: 220px;
    border: 1px solid #D8D8D8;
    border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
}

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    background: #fff;
    color: #8D8D8D;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 19px;
}

.ui-datepicker th, .ui-datepicker td {
    font-size: 12px;
    width: 35px;
    height: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #f78030;
    color: #fff;
}

.ui-datepicker td a:hover {
    background-color: rgba(247, 127, 48, .2);
    color: #8D8D8D;
}

a.ui-datepicker-next.ui-corner-all, a.ui-datepicker-prev.ui-corner-all {
    border: 1px solid #fff;
    background: #fff;
    font-weight: normal;
    color: #2b2b2b;
    cursor: pointer;
}

a.ui-datepicker-prev.ui-corner-all .ui-icon, a.ui-datepicker-next.ui-corner-all .ui-icon {
    background-image: url(../images/ui-icons_555555_256x240.png);
}

.ui-icon-circle-triangle-e {
    background-position: -32px -15px;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -15px;
}

input[id*="datepicker"]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #D8D8D8;
}

/********************************
	General
*********************************/

.col-primary {
    color: #4A90E2 !important;
}

.col-danger {
    color: #D0021B !important;
}

.btn-primary {
    background-color: #4A90E2 !important;
    border-color: #4A90E2 !important;
}

.btn-danger {
    background-color: #D0021B !important;
    border-color: #D0021B !important;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.add-store {
    text-align: right;
    font-family: 'Avenir-Medium';
    font-size: 14px;
}

.breadcrumb {
    padding: 0;
    background: none;
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #8D8D8D;
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 0.9em;
}

.breadcrumb>li>a {
    color: #8D8D8D;
    font-family: 'Avenir-Light';
}

.breadcrumb>.active {
    color: #000;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    section {
        margin-left: 214px;
        padding: 0 35px;
    }
    header {
        margin-left: 214px;
        padding: 50px 50px 40px;
        text-align: right;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    aside {
        width: 180px;
    }
    section {
        margin-left: 180px;
        padding: 0 15px 15px;
    }
    header {
        margin-left: 180px;
        padding: 30px;
        text-align: right;
    }
}

@media screen and (max-width:767px) {
    .hidden-under-768 {
        display: none;
    }
    header {
        margin-left: 0;
        padding: 20px;
    }
    .sidetoggle {
        float: none;
        position: absolute;
        left: 20px;
        top: 20px;
        display: block;
        width: 22px;
        color: #8D8D8D;
    }
    .sidetoggle img {
        width: 1000%;
        height: auto;
        image-rendering: pixelated;
    }
    .closenav {
        display: inline-block;
        padding: 0;
        margin: 0;
        float: right;
        margin-right: 25px;
        font-size: 2em;
        margin-top: -25px;
    }
    .closenav:hover, .closenav:focus, .closenav:active {
        background: transparent;
    }
    .dropdown, .dropup {
        position: relative;
        display: inline-block;
    }
    aside {
        text-align: left;
        width: 0;
        transition: 0.5s;
        z-index: 10000;
    }
    aside div {
        padding-top: 45px;
    }
    aside a {
        padding: 12px 25px 8px;
        margin-bottom: 10px;
    }
    aside a.active span {
        border-right: 0 solid #F78130;
        padding-left: 0;
    }
    aside a span {
        padding-bottom: 0;
        display: inline-block;
        padding-right: 10px;
    }
    aside a span img {
        width: 24px;
        height: 20px;
    }
    section {
        margin-left: 0;
        padding: 0 5px;
        margin: 100px 0 20px;
    }
    header {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .modal.in .modal-dialog {
        top: 80px;
        margin-bottom: 25px;
    }
    .cal-head {
        position: absolute;
        margin-top: 28px;
        font-size: .75em;
        margin-left: -83px;
    }
}

/************* 20-2-2018 piyush *******************/

/*Model alert 20-02-2018 */

.alert-new-button {
    padding: 10px 0;
}

.alert-new-button a {
    font-size: 14px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
}

.alert-new-modal .modal-title {
    font-size: 16px;
}

/*.alert-new-modal .modal-footer {}

.alert-new-modal .modal-footer a {
	font-size: 14px;
	color: #3878DE;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}

.alert-new-modal .modal-footer a:hover {
	color: #000000;
}

.alert-new-modal .modal-dialog {
	width: 300px;
	margin: 30px auto;
}

.alert-new-modal .modal-header{ border-bottom: none; }
.alert-new-modal .modal-footer{ border-top: none; }


*/

/****** 8-3-2018 ******/

.card-body .set-commission-table table tbody tr td:first-child {
    padding-left: 35px;
    color: #5697e4;
}

.card-body .set-commission-table table tbody tr td:first-child a {
    color: #4A90E2;
    font-family: 'Avenir-Light';
}

.modal-commission .modal-header {
    border-bottom: 1px solid #ececec;
    padding: 23px 40px;
}

.modal-commission .modal-dialog {
    width: 540px;
}

.modal-commission .close {
    opacity: 1;
    font-size: 36px;
    position: absolute;
    right: 17px;
    top: 10px;
}

.modal-commission .modal-title {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Heavy';
    color: #000000;
    font-weight: normal;
}

.modal-commission .modal-body {
    padding: 23px 40px 57px 40px;
}

.modal-commission .modal-body h3 {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Heavy';
    color: #000000;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px 0;
}

.union-form {
    max-width: 305px;
}

.union-form .form-group label {
    font-size: 14px;
    color: #8D8D8D;
}

.union-form .form-control {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: none;
}

.union-form .row {
    margin-left: -10px;
    margin-right: -10px;
}

.union-form [class*=' col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

.frd-sub-box input {
    width: 142px;
    float: left;
}

.frd-sub-box input+input {
    margin-left: 20px;
}

.add-submit-btn {
    text-align: center;
    padding: 100px 0 0 0;
}

.add-submit-btn .btn {
    font-family: 'Avenir-Light';
    padding: 6px 40px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
    color: #fff;
    min-width: 100px;
    background-color: #f78130 !important;
    border-color: #f78130 !important;
}

.add-submit-btn .btn:hover {
    color: #ffffff;
}

.btn {
    box-shadow: none !important;
}

table.past_orders .oList, table.fulfilled_orders .oList, table.rtp_orders .oList, table.orders .oList {
    cursor: pointer;
}