.form-align {
    text-align: right;
}

.form-align .form-group {
    margin-bottom: 10px;
}

.form-list {
    font-size: 14px;
    color: #8D8D8D;
    display: inline-block;
    text-align: right;
}

.form-list input {
    max-width: 110px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #D8D8D8;
    color: #000000;
    font-family: 'Avenir-Light';
    padding: 2px 3px 2px 20px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
}

.form-list label {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

.card-head {
    padding: 35px 35px 25px 70px;
}

.card-head h3 {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Heavy';
    font-weight: 900;
    margin: 0;
    display: inline-block;
}

.card-head form {
    float: right;
    font-family: 'Avenir-Light';
}

.card-head label {
    font-size: 14px;
    color: #000000;
    padding-right: 13px;
}

.card-head select {
    border: 1px solid #D8D8D8;
    font-size: 12px;
    color: #000000;
    border-radius: 5px;
    padding: 2px 10px;
}

.card-body {
    padding-bottom: 30px;
}

.card-body1 {
    padding-top: 30px;
}

.table>thead>tr>th {
    color: #7A7A7A;
    font-size: 14px;
    font-family: 'Avenir-Light';
    font-weight: 300;
    border: 0;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.table>tbody>tr>td {
    color: #000000;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    border: 0;
    vertical-align: middle;
    padding: 15px 10px;
}

.table>tbody>tr>td span {
    color: #7A7A7A;
    font-family: 'Avenir-Light';
    width: 45px;
    display: inline-block;
}

.table-live-offer table>thead>tr>th:first-child,
.table-live-offer table>tbody>tr>td:first-child {
    padding-left: 110px;
}

.table-live-offer table>thead>tr>th:last-child,
.table-live-offer table>tbody>tr>td:last-child {
    padding-right: 50px;
}

.table-end-offer table>thead>tr>th:first-child,
.table-end-offer table>tbody>tr>td:first-child {
    padding-left: 70px;
}

.table-store-offer table>thead>tr>th:first-child,
.table-store-offer table>tbody>tr>td:first-child {
    padding-left: 70px;
}

.st-head h2 {
    font-size: 32px;
    font-family: 'Avenir-Medium';
    margin-top: 7px;
}

.form-list {
    margin-top: 15px;
}

.card-1 {
    padding: 20px 25px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.card-1 img {
    width: 65px;
    height: auto;
    margin-left: 30px;
    margin-right: 50px;
}

.product-info-1 {
    flex: 1;
}

.product-info-1 div {
    display: inline-block;
    width: 49%;
}

.product-info-1 div:nth-child(2n) {
    padding-left: 90px;
}

.product-info-1 p {
    color: #000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-info-1 span.offer-main {
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Light';
    display: inline-block;
    width: 115px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.product-info-1 span.offer-date {
    display: inline-block;
    color: #000000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    padding-right: 0;
    width: auto;
}

span.offer-date-p {
    display: inline-block;
    width: 35px;
    font-family: 'Avenir-Light';
}


/**********************************
    EDIT PAGE
***********************************/

.card-head-edit {
    font-family: 'Avenir-Heavy';
    padding: 20px 30px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 14px;
}

.card-head-edit span {
    font-family: 'Avenir-Medium';
    float: right;
}

.card-body-edit {
    padding: 20px 30px;
    color: #737373;
}

.card-body-edit .form-horizontal .control-label {
    text-align: left;
    color: #7A7A7A;
    font-family: 'Avenir-Light';
    font-size: 14px;
}

.card-body-edit input,
.card-body-edit select {
    font-family: 'Avenir-Medium';
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    padding: 5px 10px;
}

.save-edit {
    text-align: center;
    margin-top: 95px;
}

.save-edit .btn {
    font-family: 'Avenir-Light';
    padding: 9px 30px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
    color: #fff;
    min-width: 100px;
}

.save-edit .btn01 {
    background-color: #8D8D8D;
}

.save-edit .btn02 {
    background-color: #B11054;
}

.add-offer00 {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.add-offer02 {
    text-align: center;
    border: 1px solid #F5F5F5;
}

.add-offer02 img {
    height: 400px;
    width: auto;
    margin-top: 85px;
    image-rendering: -webkit-optimize-contrast;
}

.add-offer01 .card {
    margin-bottom: 0;
}

@media screen and (min-width:1242px) {
    .hidden-above-1120 {
        display: none;
    }
}

@media screen and (min-width:395px) and (max-width:1083px) {
    .hidden-above-1120 {
        display: none;
    }
}

@media screen and (min-width:1025px) and (max-width:1100px) {
    .product-info div:nth-child(2n),
    .product-info-1 div:nth-child(2n) {
        padding-left: 50px;
    }
}

@media screen and (min-width:768px) and (max-width:1083px) {
    .product-info,
    .product-info-1 {
        text-align: left;
    }
    .product-info div,
    .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info div:nth-child(2n),
    .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
}

@media screen and (min-width:1440px) {
    .card-1 img {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width:1350px) {
    .st-head h2 {
        font-size: 36px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-list,
    .form-align {
        text-align: left;
    }
    .card-head {
        padding: 20px 40px;
    }
    .table-live-offer table>thead>tr>th:first-child,
    .table-live-offer table>tbody>tr>td:first-child {
        padding-left: 50px;
    }
    .table-live-offer table>thead>tr>th:last-child,
    .table-live-offer table>tbody>tr>td:last-child {
        padding-right: 30px;
    }
    .table-end-offer table>thead>tr>th:first-child,
    .table-end-offer table>tbody>tr>td:first-child {
        padding-left: 40px;
    }
    .table-store-offer table>thead>tr>th:first-child,
    .table-store-offer table>tbody>tr>td:first-child {
        padding-left: 40px;
    }
    .add-offer00 {
        display: block;
    }
    .add-offer02 img {
        height: 350px;
        width: auto;
        margin-top: 35px;
    }
}

@media screen and (max-width:810px) {
    .card-1 {
        display: block;
    }
    .card-1 img {
        margin-left: 120px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .product-info-1 {
        margin-top: 20px;
        text-align: left;
    }
    .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
}

@media screen and (max-width:767px) {
    .form-list label {
        padding-left: 0;
        padding-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
        min-width: 90px;
    }
    .form-align,
    .form-list {
        text-align: left;
    }
    .form-list .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    .card-head {
        padding: 20px;
    }
    .card-head form {
        float: none;
        margin-top: 10px;
    }
    .table-responsive {
        border: 0;
    }
    .table-live-offer table>thead>tr>th:first-child,
    .table-live-offer table>tbody>tr>td:first-child {
        padding-left: 30px;
    }
    .table-live-offer table>thead>tr>th:last-child,
    .table-live-offer table>tbody>tr>td:last-child {
        padding-right: 10px;
    }
    .table-end-offer table>thead>tr>th:first-child,
    .table-end-offer table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .table-store-offer table>thead>tr>th:first-child,
    .table-store-offer table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .st-head h2 {
        font-size: 23px;
    }
    .add-offer00 {
        display: block;
    }
    .add-offer02 img {
        height: 250px;
        width: auto;
        margin-top: 35px;
    }
}