<div>
            <a href="javascript:void(0)" class="closenav" onclick="closeNav()">&times;</a>
            <a href="home.html">
                <span>
                    <img src="images/dash1.png" alt="">
                </span>
                Home
            </a>
            <a href="reports.html">
                <span>
                    <img src="images/dash2.png" alt="">
                </span>
                Reports
            </a>
            <a href="view-offers.html">
                <span>
                    <img src="images/dash3.png" alt="">
                </span>
                View
                <br class="hidden-under-768">Offers
            </a>
            <a href="promotions.html">
                <span>
                    <img src="images/dash4.png" alt="">
                </span>
                View
                <br class="hidden-under-768">Promotions
            </a>
            <a href="manage-orders.html">
                <span>
                    <img src="images/dash5.png" alt="">
                </span>
                Manage
                <br class="hidden-under-768">Orders
            </a>
            <a href="setting.html" class="active">
                <span>
                    <img src="images/dash6_1.png" alt="">
                </span>
                Setting
            </a>
        </div>