<aside id="sidenav">
    <div>
        <a href="javascript:void(0)" class="closenav" onclick="closeNav()">&times;</a>
        <a href="home">
            <span>
                <img src="images/dash1.png" alt="">
            </span>
            Home
        </a>
        <a href="reports">
            <span>
                <img src="images/dash2.png" alt="">
            </span>
            Reports
        </a>
        <!-- <a href="view-offers">
            <span>
                <img src="images/dash3.png" alt="">
            </span>
            View
            <br class="hidden-under-768">Offers
        </a> -->
        <a href="promotions">
            <span>
                <img src="images/dash4.png" alt="">
            </span>
            View
            <br class="hidden-under-768">Promotions
        </a>
        <a href="manage-orders">
            <span>
                <img src="images/dash5.png" alt="">
            </span>
            Manage
            <br class="hidden-under-768">Orders
        </a>
        <a href="setting" class="active">
            <span>
                <img src="images/dash6_1.png" alt="">
            </span>
            Setting
        </a>
    </div>
</aside>

<!-- Top bar -->
<header>
    <div class="sidetoggle" onclick="openNav()">
        <img src="images/menu_icon.png" alt="">
    </div>
    <div class="dropdown">
        <span class="notification"></span>
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <span class="bell">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </span>
            Bevvi SuperAdmin
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="signout" style="cursor: pointer;">Logout</a>
            </li>
        </ul>
    </div>
</header>

<script>
    function openNav() {
        document.getElementById("sidenav").style.width = "214px";
    }

    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
    }
    $(window).resize(function () {
        if ($(window).width() > 767 && $(window).width() < 992)
            document.getElementById("sidenav").style.width = "180px";
        else if ($(window).width() < 768)
            document.getElementById("sidenav").style.width = "0";
        else
            document.getElementById("sidenav").style.width = "214px";
    });
</script>
<style>
    
</style>
<!-- 
<section class="cancel-alert1 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Customer cancelled order</h2>
        <p class="order_number">order number: <span>595920</span></p>

        <button class="btn cancel-alert-btn">Got it</button>
    </div>
</section>
<section class="order-alert1 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Order Placed</h2>
        <p class="order_number">order number: <span>392591</span></p>
        <h3 class="timing">Delivery at <span>7:15pm</span></h3>
        <button class="btn order-alert-btn">Got it</button>
    </div>
</section>
<section class="order-alert2 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Scheduled Order Placed</h2>
        <p class="order_number">order number: <span>294994</span></p>
        <h3 class="timing">Nov 29, Monday. 3pm</h3>
        <button class="btn order-alert-btn2">Got it</button>
    </div>
</section> -->
<!-- Alert Pop Up -->
<div class="modal fade alert-new-modal" id="myModal-al" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Alert Text here</p>
            </div>
            <div class="modal-footer">
                <a href="#">Link 1</a>
                <a href="#" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>